<h1>🤪 Emoji 🤪</h1>

<button (click)="happy=!happy">😁 </button>
<section *ngIf="happy">
  <img title="happy" src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBO8ZhE8NHVq6WqYgkNOepJNXvEdTix-UMZ9CNi9TnwYLnnRmk&s"/>
</section>

<button (click)="perverso=!perverso">😈 </button>
<section *ngIf="perverso">
  <img title="perverso" src= "https://www.elcolombiano.com/documents/10157/0/580x435/0c37/580d365/none/11101/LRFJ/image_content_28665666_20170516144443.jpg" />
</section>

<button (click)="sad=!sad">😞 </button>
<section *ngIf="sad">
  <img title="sad" src="https://images-na.ssl-images-amazon.com/images/I/51xqPmxfPzL._SX425_.jpg" />
</section>